.input {
	display: flex;
	align-items: center;
	border: 1px solid #cdcfd0;
	border-radius: 3em;
	transition: color 1s, border-color 1s;
	position: relative;
	background-color: #fff;
	box-sizing: border-box;
}

.input__control {
	display: inline-flex;
	color: #d4d7d9;
	transition: color .25s, opacity .25s;
	padding-right: 0.9375em;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
}

.input__control.visible {
	opacity: 1;
	pointer-events: auto;
}

.input__control:hover {
	color: #a2aab0;
}

.input__control:active {
	color: #112b42;
}

.input__control:before {
	content: "\e915";
	font-family: iconfont;
}

.input__control[data-input="password"] {
	opacity: 1;
	pointer-events: auto;
}

.input__control[data-input="password"]:before {
	content: "\e99b";
}

.input__control[data-input="password"].switched:before {
	content: "\e99c";
}

.input label {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0.9375em;
	pointer-events: none;
	opacity: 0;
	z-index: -1;
	background-color: #fff;
	color: #a2aab0;
	transition: color .25s;
}

.input input {
	margin: 0;
	padding: 0.506em 0.9375em;
	border: none;
	width: 100%;
	height: 100%;
	outline: none;
	background-color: transparent;
	box-sizing: border-box;
	line-height: 1;
}

.input input::-webkit-input-placeholder {
	color: #a2aab0;
	font-size: 1em;
}

.input input::-moz-placeholder {
	color: #a2aab0;
	font-size: 1em;
}

.input input:-ms-input-placeholder {
	color: #a2aab0;
	font-size: 1em;
}

.input input:-moz-placeholder {
	color: #a2aab0;
	font-size: 1em;
}

.input [class^="ic-"], [class*=" ic-"] {
	pointer-events: none;
	color: #a2aab0;
	padding-left: 0.9375em;
	transition: color .25s;
}

.input:focus-within {
	border-color: #418ccf;
}

.input:focus-within [class^="ic-"], [class*=" ic-"] {
	color: #418ccf;
}

/* .input.error */
.input.error {
	border-color: #f74c54;
}

.input.error [class^="ic-"], [class*=" ic-"] {
	color: #f74c54;
}

.input.error label {
	color: #f74c54;
}

/* .input.error //end */

/* .input.success */
.input.success {
	border-color: #4fb543;
}

.input.success .input__control {
	opacity: 1;
	color: #4fb543;
	pointer-events: none;
}

.input.success .input__control:before {
	content: "\e929";
}

.input.success [class^="ic-"], [class*=" ic-"] {
	color: #4fb543;
}

.input.success label {
	color: #4fb543;
}

/* .input.success //end */

/* .input.disabled */
.input.disabled {
	background-color: #f4f4f4;
	pointer-events: none;
}

.input.disabled input {
	color: #a2aab0;
}

.input.disabled [class^="ic-"], [class*=" ic-"] {
	color: #a2aab0;
}

/* .input.disabled //end */

/* input--labeled */
.input.input--labeled label {
	opacity: 1;
	z-index: 2;
	transition: transform .25s, font-size 0.25s, left .25s;
}

.input.input--labeled:focus-within label,
.input.input--labeled.active label {
	transform: translateY(-175%);
	font-size: 0.8125em;
	left: 1.1em;
}

.input.input--labeled:focus-within label {
	color: #418ccf;
}

.input.input--labeled.error label {
	color: #f74c54;
}

.input.input--labeled.success label {
	color: #4fb543;
}

.input.input--labeled.disabled label {
	background-color: #f4f4f4;
}

.input.input--labeled:not(.active) input::-webkit-input-placeholder {
	opacity: 0;
}

.input.input--labeled:not(.active) input::-moz-placeholder {
	opacity: 0;
}

.input.input--labeled:not(.active) input:-ms-input-placeholder {
	opacity: 0;
}

.input.input--labeled:not(.active) input:-moz-placeholder {
	opacity: 0;
}
/* input--labeled //end */

/* .input--ic-orange */
.input.input--ic-orange [class^="ic-"], [class*=" ic-"] {
	color: #ff7f4e;
}

.input.input--ic-orange:focus-within [class^="ic-"], [class*=" ic-"] {
	color: #418ccf;
}

/* .input--ic-orange //end */

/* .input--filter */
.input.input--filter {
	height: 70px;
}

/* .input--filter //end */

/* input--medium */
.input.input--medium input {
	padding: 0.662em 0.9375em
}

/* .input--labeled.input--medium */
.input.input--labeled.input--medium:focus-within label,
.input.input--labeled.input--medium.active label {
	transform: translateY(-190%);
}

/* .input--labeled.input--medium //end */

/* input--medium //end */

input {
	font: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s !important;
}

