@media screen and (min-width: 630px) {
    .modal__content {
        width: auto;
        min-width: 600px;
        max-width: calc(100% - 30px);
    }
}

@media screen and (min-width: 768px) {
    .modal__content.mob\:modal__content--full {
        width: auto;
        height: auto;
    }
}

@media screen and (min-width: 1024px) {
    .modal__content.tablet\:modal__content--full {
        width: auto;
        height: auto;
    }
}
