.list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.list > li {
	margin-top: 15px;
	position: relative;
}

.list > li:first-child {
	margin-top: 0;
}

.list .list {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 20px;
}

.list.list--inner-pl-0 .list {
	padding-left: 0;
}

/* list--dotted */
.list.list--dotted > li {
	padding-left: 0.9375em;
}

.list.list--dotted > li:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0.41em;
	width: 0.3125em;
	height: 0.3125em;
	border-radius: 50%;
	background-color: #d4d7d9;
	display: inline-flex;
}

/* list--dotted //end */

/* list--check */
.list.list--check > li {
	padding-left: 1.4375em;
}

.list.list--check > li:before {
	content: "\e929";
	position: absolute;
	left: 0;
	top: 0.125em;
	font-size: 0.812em;
	font-family: iconfont;
	color: #ff7f4e;
}

/* list--check //end */

/* list--num */
.list.list--num {
	counter-reset: listNum;
}

.list.list--num > li {
	padding-left: 0;
}

.list.list--num > li::before {
	counter-increment: listNum;
	content: counter(listNum) ".";
	display: inline-block;
	margin-right: 0.625em;
	color: #a2aab0;
}

/* list--num //end */


