.b-all-1 {
	border: 1px solid #eaebee;
}

.b-t-1 {
	border-top: 1px solid #eaebee;
}

.b-r-1 {
	border-right: 1px solid #eaebee;
}

.b-b-1 {
	border-bottom: 1px solid #eaebee;
}

.b-l-1 {
	border-left: 1px solid #eaebee;
}
