.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 40px;
	border-radius: 60px;
	font-weight: 600;
	padding: 5px 15px;
	transition: background-color .25s, border-color .25s;
	box-sizing: border-box;
	cursor: pointer;
	position: relative;
}

/* btn--default */
.btn.btn--default {
	border: 1px solid #418ccf;
	color: #418ccf;
}

.btn.btn--default:hover {
	background-color: #418ccf;
	color: #fff;
}

.btn.btn--default:focus,
.btn.btn--default:active {
	border-color: #245c8e;
}

.btn.btn--default.disabled {
	background-color: transparent;
	color: #d4d7d9;
	border-color: #d4d7d9;
}

/* btn--default //end */

/* btn--white */
.btn.btn--white {
	border: 1px solid #fff;
	color: #fff;
}

.btn.btn--white:hover {
	background-color: #418ccf;
	border-color: #418ccf;
	color: #fff;
}

.btn.btn--white:focus,
.btn.btn--white:active {
	border-color: #245c8e;
}

.btn.btn--white.disabled {
	background-color: transparent;
	color: #d4d7d9;
	border-color: #d4d7d9;
}

/* btn--white //end */

/* btn--primary */
.btn.btn--primary {
	color: #fff;
	z-index: 1;
	overflow: hidden;
}

.btn.btn--primary:before,
.btn.btn--primary:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: transform .25s ease-in-out, border-color .25s;
	z-index: -1;
}

.btn.btn--primary:after {
	background: linear-gradient(90deg, #f74c54 0%, #ff7f4e 100%);
	transform: translateX(0);
}

.btn.btn--primary:before {
	transform: translateX(100%);
	background: #ff7f4e;
	box-sizing: border-box;
	border: 1px solid transparent;
}

.btn.btn--primary:hover:before {
	transform: translateX(0);

}

.btn.btn--primary:hover:after {
	transform: translateX(-100%);
}

.btn.btn--primary:active:before,
.btn.btn--primary:focus:before {
	border-color: #ac3f16;
	border-radius: 60px;
}

.btn.btn--primary.disabled {
	background-color: #a2aab0;
	color: #fff;
}

.btn.btn--primary.disabled:before,
.btn.btn--primary.disabled:after {
	display: none;
}

/* btn--primary //end */

/* btn--filter */
.btn.btn--filter {
	color: #fff;
	z-index: 1;
	overflow: hidden;
	height: 100%;
	width: 54px;
	padding: 0;
	justify-content: flex-start;
	transition: width .25s;
}

.btn.btn--filter [class^="ic-"],
.btn.btn--filter [class*=" ic-"] {
	padding-left: 19px;
	padding-right: 19px;
}

.btn.btn--filter:before,
.btn.btn--filter:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: transform .25s ease-in-out, border-color .25s;
	z-index: -1;
}

.btn.btn--filter:after {
	background: linear-gradient(90deg, #f74c54 0%, #ff7f4e 100%);
	transform: translateX(0);
}

.btn.btn--filter:before {
	transform: translateX(100%);
	background: #ff7f4e;
	box-sizing: border-box;
	border: 1px solid transparent;
}

.btn.btn--filter:hover:before {
	transform: translateX(0);

}

.btn.btn--filter:hover {
	width: 140px;
}

.btn.btn--filter:hover:after {
	transform: translateX(-100%);
}

.btn.btn--filter:active:before,
.btn.btn--filter:focus:before {
	border-color: #ac3f16;
	border-radius: 60px;
}

.btn.btn--filter.disabled {
	background-color: #a2aab0;
	color: #fff;
}

.btn.btn--filter.disabled:before,
.btn.btn--filter.disabled:after {
	display: none;
}

/* btn--filter //end */

.btn.btn--wide {
	min-width: 168px;
}

.btn.btn--full {
	width: 100%;
}

.btn.btn--medium {
	min-height: 45px;
}

.btn.btn--adaptive {
	padding: 0.5em 0.9em;
	border-radius: 3em;
	min-height: 2.5em;
}

.btn.disabled {
	pointer-events: none;
}
