.object-item {
	background-color: #fff;
	border-radius: 10px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.object-item:hover .object-item__slider-btn {
	opacity: 1;
}

.object-item__status,
.object-item__favorites {
	position: absolute;
	top: 15px;
	z-index: 4;
}

.object-item__status {
	left: 15px;
}

.object-item__favorites {
	right: 15px;
}

/* object-item__slider */
.object-item__slider {
	height: 200px;
	position: relative;
}

.object-item__slider .slick-slider,
.object-item__slider .slick-list,
.object-item__slider .slick-track,
.object-item__slider .slick-slide > div,
.object-item__slider .slick-track li,
.object-item__slider .slick-track li a {
	height: 100%;
}

.object-item__slider .slick-list {
	border-radius: 10px;
}

.object-item__slider .slick-slide img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
	border: 1px solid #eaebee;
	box-sizing: border-box;
}

.object-item__slider-btn {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(17, 43, 66, 0.3);
	z-index: 3;
	cursor: pointer;
	opacity: 0;
	transition: opacity .25s, background-color .25s;
}

.object-item__slider-btn:hover {
	background-color: rgba(17, 43, 66, 0.5);
}

.object-item__slider-btn:active {
	background-color: rgba(17, 43, 66, 0.7);
}

.object-item__slider-btn [class^="ic-"],
.object-item__slider-btn [class*=" ic-"] {
	color: #fff;
	font-size: 0.8em;
	transition: transform .25s;
}

.object-item__slider-btn.object-item__slider-btn--prev {
	left: 15px;
}

.object-item__slider-btn.object-item__slider-btn--prev [class^="ic-"] {
	padding-right: 2px;
}

.object-item__slider-btn.object-item__slider-btn--next {
	right: 15px;
}

.object-item__slider-btn.object-item__slider-btn--next [class^="ic-"] {
	padding-left: 2px;
}

.object-item__slider .slick-dots {
	position: absolute;
	left: 0;
	bottom: 10px;
	z-index: 3;
	display: flex;
	justify-content: center;
	width: 100%;
}

.object-item__slider .slick-dots > li {
	margin-right: 5px;
}

.object-item__slider .slick-dots > li:last-child {
	margin-right: 0;
}

.object-item__slider .slick-dots > li button {
	font-size: 0;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.5;
	transition: opacity .25s;
}

.object-item__slider .slick-dots > li:first-child button,
.object-item__slider .slick-dots > li:last-child button {
	width: 5px;
	height: 5px;
}

.object-item__slider .slick-dots > li.slick-active button {
	width: 9px;
	height: 9px;
	opacity: 1;
	box-shadow: 0 1px 2px rgba(0, 17, 51, 0.4);
}

/* object-item__slider //end */

/*object-item__miniatures*/
.object-item__miniatures {
	margin-top: 10px;
	margin-bottom: 5px;
}

.object-item__miniatures > ul {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 10px;
}

.object-item__miniatures > ul > li {
	height: 60px;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
}

.object-item__miniatures > ul > li:nth-child(n+4) {
	display: none;
}

.object-item__miniatures > ul > li:nth-child(3):before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(17, 43, 66, 0.6);
	z-index: 2;
	pointer-events: none;
}

.object-item__miniatures > ul > li:nth-child(3):after {
	content: attr(data-images-count);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	color: #fff;
	font-weight: 700;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

.object-item__miniatures > ul > li:nth-child(3) img {
	filter: blur(3px);
}

.object-item__miniatures > ul > li img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 5px;
}

/*object-item__miniatures //end */
.object-item__district > ul {
	display: flex;
	flex-wrap: wrap;
}

.object-item__district > ul > li {
	margin-top: 5px;
	margin-right: 20px;
	display: flex;
	align-items: center;
	font-size: 14px;
}

.object-item__district > ul > li > [class^="ic-"],
.object-item__district > ul > li > [class*=" ic-"] {
	margin-right: 10px;
	line-height: 1;
}

.object-item__district > ul > li:last-child {
	margin-right: 0;
}

.object-item__options > ul {
	display: flex;
	flex-wrap: wrap;
}

.object-item__options > ul > li {
	margin-top: 5px;
	margin-right: 10px;
	display: flex;
	align-items: center;
	font-size: 14px;
}

.object-item__options > ul > li:not(:last-child):after {
	content: "";
	width: 4px;
	height: 4px;
	border-radius: 50%;
	margin-left: 10px;
	background-color: #d4d7d9;
}

.object-item__options > ul > li:last-child {
	margin-right: 0;
}

.object-item__btn {
	margin-top: 15px;
	display: flex;
	flex-grow: 1;
	align-items: flex-end;
}

/* object-item--v2 */
.object-item.object-item--v2 {
	padding-bottom: 25px;
}

.object-item.object-item--v2 .object-item__miniatures {
	padding-left: 10px;
	padding-right: 10px;
}

.object-item.object-item--v2 .object-item__price,
.object-item.object-item--v2 .object-item__address,
.object-item.object-item--v2 .object-item__district,
.object-item.object-item--v2 .object-item__options,
.object-item.object-item--v2 .object-item__btn {
	padding-left: 20px;
	padding-right: 20px;
}

.object-item.object-item--v2 .object-item__slider .slick-list {
	border-radius: 10px 10px 0 0;
}

.object-item.object-item--v2 .object-item__slider .slick-slide img {
	border-radius: 10px 10px 0 0;
	border: none;
}

.object-item.object-item--v2 .object-item__btn {
	margin-top: 20px;
}

/* object-item--v2 //end */

/* .object-item--colored */
.object-item.object-item--colored {
	background-color: transparent;
	transform: translateZ(0);
}

.object-item.object-item--colored:before {
	content: "";
	position: absolute;
	left: -10px;
	top: -10px;
	pointer-events: none;
	background: #fff2d9;
	border-radius: 15px;
	width: calc(100% + 20px);
	height: calc(100% + 20px);
	z-index: -1;
}

/* .object-item--colored //end */