.autocomplete {
	position: relative;
}

.autocomplete__list {
	background: #fff;
	box-shadow: 0 4px 15px rgba(0, 17, 51, 0.1);
	border-radius: 20px;
	padding: 20px 35px;
	position: absolute;
	left: 0;
	top: calc(100% + 5px);
	max-height: 300px;
	overflow-y: auto;
	z-index: 5;
	width: 100%;
	box-sizing: border-box;
}

.autocomplete__list > li {
	margin-top: 10px;
}

.autocomplete__list > li:first-child {
	margin-top: 0;
}

.autocomplete__list > li > * {
	color: #a2aab0;
}

.autocomplete__list > li .highlight {
	font-weight: bold;
	color: #112b42;
}

.autocomplete__list::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}

.autocomplete__list::-webkit-scrollbar-track {
	background: #f4f4f4;
	border-radius: 10px;
}

.autocomplete__list::-webkit-scrollbar-thumb {
	background-color: #d4d7d9;
	border-radius: 10px;
}