.to-favorites {
	position: relative;
	cursor: pointer;
	line-height: 0;
}

.to-favorites:before,
.to-favorites:after {
	font-family: iconfont;
	line-height: 1;
}

.to-favorites:before {
	content: "\e92b";
	position: absolute;
	left: 0;
	top: 0;
	color: #fff;
	z-index: 2;
}

.to-favorites:after {
	content: "\e92c";
	z-index: 1;
	color: #112b42;
	opacity: 0.5;
	transition: opacity .25s, color .25s;
}

.to-favorites:hover:after {
	color: #f74c54;
}

.to-favorites.active:after {
	opacity: 1;
	color: #f74c54;
}