.dark-gray {
	color: #a2aab0;
}

.bg-dark-gray {
	background-color: #a2aab0;
}

.main-black {
	color: #112b42;
}

.bg-main-black {
	background-color: #112b42;
}

.white {
	color: #fff;
}

.bg-white {
	background-color: #fff;
}