.link {
	cursor: pointer;
	color: #418ccf;
	background: transparent;
	text-decoration: none;
	transition: color .3s;
	-webkit-transition: color .3s;
	-moz-transition: color .3s;
	-o-transition: color .3s;
}

.link:hover {
	color: #00bee7;
}

/* link--dashed */
.link.link--dashed {
	margin-bottom: 3px;
	border-bottom: 1px dashed #418ccf;
	transition: color .3s, border-color 0.25s;
}

.link.link--dashed:hover {
	border-color: #00bee7;
}

/* link--dashed //end */

/* link--gray */
.link.link--gray:not(:hover) {
	color: #a2aab0;
}

.link.link--gray.link--dashed:not(:hover) {
	border-color: #a2aab0;
}

/* link--gray //end */

/* link--tag */
.link.link--tag {
	font-size: 14px;
	padding: 0.858em 1.0714em;
	border-radius: 3em;
	background-color: #eff7ff;
	color: #112b42;
	transition: background-color .25s, box-shadow .25s, color .25s;
}

.link.link--tag:hover {
	background-color: #fff;
	color: #00bee7;
	box-shadow: 0 4px 15px rgba(0, 17, 51, 0.1);
}

/* link--tag //end */