.footer {
	border-top: 1px solid #eaebee;
	background-color: #fff;
}

.footer.footer--bg-transparent {
	background-color: transparent;
}

.footer__grid {
	padding-top: 15px;
	padding-bottom: 15px;
	display: grid;
	grid-template-columns: fit-content(100%) 1fr;
	grid-template-areas: "container-2 container-1" "container-3 container-3";
	grid-row-gap: 15px;
}

.footer__grid-container-1 {
	grid-area: container-1;
	justify-content: flex-end;
}

.footer__grid-container-2 {
	grid-area: container-2;
}

.footer__grid-container-3 {
	grid-area: container-3;
	border-top: 1px solid #eaebee;
	padding-top: 10px;
}

.footer__logo,
.footer__rating {
	display: none;
}

.footer__links {
	display: grid;
	grid-row-gap: 15px;
	font-size: 14px;
	grid-area: links;
}

.footer__links > * {
	display: none;
}

.footer__links > *:nth-child(1),
.footer__links > *:nth-child(2),
.footer__links > *:nth-child(3) {
	display: block;
}

.footer__social {
	display: flex;
	justify-content: flex-end;
}

.footer__text {
	color: #a2aab0;
	font-size: 12px;
	grid-area: text;

}