.avatar {
	display: inline-flex;
	align-items: center;
	background-color: #fff;
	border-radius: 50%;
}

.avatar__img {
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.avatar__img img {
	border-radius: 50%;
	object-fit: cover;
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	position: relative;
	overflow: hidden;
}

.avatar__img [class^="ic-"], .avatar__img [class*=" ic-"] {
	font-size: 20px;
}

.avatar__name {
	margin-left: 15px;
	font-weight: bold;
}

/* avatar--medium */
.avatar.avatar--medium .avatar__img {
	width: 50px;
	height: 50px;
}

.avatar.avatar--medium .avatar__name {
	font-size: 18px;
}

/* avatar--medium //end */